<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h2><%= @artist.name %></h2>
			<h4>Albums(<%= @artist.albums.count %>)</h4>
			<% @artist.albums.each do |album| %>
			<div class="col-sm-2 col-md-3">
				<img src="<%= album.image_url %>">
				<h3><%= album.name%></h3>
			</div>
			<% end %>
		</div>
		<div class="col-md-6 col-sm-3">
			<img src="<%= @artist.image_url %>">
		</div>
	</div>
</div>



